<div class="row">
  <div class="col-xs-12">
    <form>
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="ToDo">ToDo</label>
          <input
          type="text"
          id="listToDO"
          class="form-control"
          #todoInput>
        <div>
          </div>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success" type="submit" (click)="onAdd()">Add</button>

            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

