
  <div class="col-xs-10">
    <app-list-edit></app-list-edit>
    <hr>
    <!-- <ul class="list-group">
      <a
      class="list-group-item"
      style="cursor: pointer"
      *ngFor="let list of lists"
      >
      {{ list.name }}
    </a>
    </ul> -->

      <!-- <div class="row">
        <div class="col-xs-2 col-md-8 col-md-offset-2">
          <p>{{list.todo}}</p>
        </div>
      </div> -->

      <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
          <div *ngFor="let todo of lists">
            {{todo.todo}}
          </div>
        </div>
      </div>

  </div>





